.App {
    text-align: center;
}

table {
  width: 80%;
  max-width: 1000px;
  font-size: 10px;
  margin: 20px 0;
}

thead {
  text-align: left;
  border-bottom: 1px solid var(--secondary-color);
  padding: 5px;
  font-weight: bold;
  font-size: 12px;
  background-color: var(--secondary-color);
  color: white;
}

td {
  padding: 5px;
  border-bottom: 1px solid var(--secondary-color);
  text-align: right;
}

td:first-child {
  font-weight: bold;
  font-size: 12px;
}

tr:hover {
  background-color: var(--tertiary-color);
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.graph {
    min-width: 500px;
    max-width: 1000px;
    margin: 20px 0;
}

/*legend-styling*/
.city-occupations {
    font-size: 12px;
    list-style-type: none;
    float: right;
}

.legend-color-box {
    height: 10px;
    width: 10px;
    float: left;
    margin-right: 5px;
}

.city-selection {
    background-color: var(--main-color);
    margin: 5px;
}

