.App {
    text-align: center;
}

table {
  width: 80%;
  max-width: 1000px;
  font-size: 10px;
  margin: 20px 0;
}

thead {
  text-align: left;
  border-bottom: 1px solid var(--secondary-color);
  padding: 5px;
  font-weight: bold;
  font-size: 12px;
  background-color: var(--secondary-color);
  color: white;
}

td {
  padding: 5px;
  border-bottom: 1px solid var(--secondary-color);
  text-align: right;
}

td:first-child {
  font-weight: bold;
  font-size: 12px;
}

tr:hover {
  background-color: var(--tertiary-color);
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
